<div class="card mt-2">
  <div class="card-header">
    employees detail
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Name: <h5>null</h5>
      </li>
      <li class="list-group-item">
        Email: <h5>null</h5>
      </li>
      <li class="list-group-item">
        State Date: <h5>null</h5>
      </li>
    </ul>
  </div>
  <div class="btn-group " rolo="group">
    <button type="button" class="btn btn-outline-warning btn-sm m-1">
      Editar
    </button>
    <button type="button" class="btn btn-outline-danger btn-sm m-1">
      Eliminar
    </button>
  </div>
</div>
<button type="button" class="btn btn btn-outline-danger mt-2 mb-5">
  Retorno a la lista
</button>
<div class="mb-5">
  {{value | json }}
</div>
