<div class="card mt-2">
  <div class="card-header">
    employees detail
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Name: <h5>{{employee.name}} {{employee.lastName}}</h5>
      </li>
      <li class="list-group-item">
        Email: <h5>{{employee.email}}</h5>
      </li>
      <li class="list-group-item">
        State Date: <h5>{{employee.startDate}}</h5>
      </li>
    </ul>
  </div>
  <div class="btn-group " rolo="group">
    <button (click)="mandarEditar()" type="button" class="btn btn-outline-warning btn-sm m-1">
      Editar
    </button>
    <button (click)="mandarEliminar()"type="button" class="btn btn-outline-danger btn-sm m-1">
      Eliminar
    </button>
  </div>
</div>
<button (click)="retornoLista()" type="button" class="btn btn btn-outline-danger mt-2 mb-5">
  Retorno a la lista
</button>

