<form action="" class="mt-5 col-md-8 offset-md-2" (ngSubmit)="save()" [formGroup]="employeeForm">
    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="nombre" formControlName="name">
        </div>
        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="last name" formControlName="lastName">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="email" formControlName="email">
        </div>
        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="start date 23/02/1995" formControlName="startDate">
        </div>
    </div>
    <button type="submit" class="btn btn-block bg-dark text-ligth mb-5">save</button>
</form>
<button (click)="retornoLista()" type="button" class="btn btn btn-outline-danger mt-2 mb-5">
    Retorno a la lista
  </button>